body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formFirstPart{
    background-image: linear-gradient(to right,#0099ff,#33adff);
    border-radius: 5px;
    padding: 20px 25px 30px 25px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
form input[type="text"], form input[type="password"]{
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #00b8e6;
    left:10px;
    margin: 0 5px;
}
form label, form input[type="submit"]{
    color: #e6f5ff;
}
label{
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 5px;
}
.button{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}
form input[type="submit"]{
    border-radius: 5px;
    border: 1px solid #00b8e6;
    background-image: linear-gradient(to right,#0099ff,#33adff);
    padding: 5px 10px;
}
